.modal__agendar{
    border: 2px solid rgb(75,70,74);
    border-radius: 25px;
    background-color: lightblue;
    padding: 20px;
    font-family: Arial;
    
    
    justify-self: anchor-center;
    max-width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
 }
 .modal_interno{
    disply: auto;

 }
.modal_conteudo{
    padding: 5px;
    flex-direction: column;
    font-family: Arial;
    text-align: center;
 }
 .modal_conteudo h2{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
 }
 .modal_conteudo p{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
 }
 .modal_conteudo h3{

 }
 
 .data_calendario_dia{
justify-self: anchor-center;

    
 }
 .dia_semana{
 justify-self: anchor-center;  
 }
 .dia{
   padding-left: 20px;
   padding-right: 20px;
   
 }
 .dia_data{
padding: 12px;    
padding-top: 10px;

margin: 10px;
margin-left: 5px;
margin-right: 5px;

border: 10px;
border-left: 10px;
border: 1px solid black;
border-radius:15px;

justify-self: anchor-center;
 }
 .dia_mes{

flex-wrap: wrap;
 }
